html{
font-size: 16px;
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #323232;
}
body{
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
a{
    color: black;
    text-decoration: none;
}

p{
    font-family: "Carrois Gothic",sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
}
h1 {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-transform:uppercase;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 35px;
}
summary{
    font-family: 'Lexend Mega';
    font-size: 1.5rem;
}
header{
    display: inline;
}

nav{
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}
ul{
   display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}
.nav-tab{
    margin: var(--spacing-1);
}
li {
    
    font-family: "Poppins",sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
}
.aboutme-container{
    display: flex;
}
.profile-pic{
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}
.project-img{
    max-width: 500px;
    max-height: 300px;
}
#skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
}

.icon img{
    max-width: 64px;
    max-height: 64px;
}
.i-cpp{
    image-rendering: auto;
}

footer{
    margin-top: 150px;
    padding: var(--spacing-2) 0;
    text-align: center;
    font-family: "Carrois Gothic",sans-serif;
    font-size: 16px;
    font-weight: 500;
}
#contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 25px;
}


@media only screen and (max-width: 700px) {
    .aboutme-container {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 15px;
    }
    
}